@import './styles/fonts/fonts.css';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './styles/base.css';
@import './styles/maplibre-gl.css';
@import './styles/maptiler-sdk.css';
@import './styles/reactGrid.css';
@import './styles/buttons.css';
@import './styles/recharts.css';
@import "./styles/ant-design.css";
@import "./styles/date-picker.css";
@import './resources/fonts/fontawesome-free-6.5.2-web/css/fontawesome.min.css';
@import './resources/fonts/fontawesome-free-6.5.2-web/css/brands.css';
@import './resources/fonts/fontawesome-free-6.5.2-web/css/solid.css';

@layer base{
    :root {
        /* Primary Color Palette */
        --color-primary: #118e3f;
        --color-primary-50: #e6f5eb;
        --color-primary-100: #ccebd7;
        --color-primary-200: #99d7af;
        --color-primary-300: #66c387;
        --color-primary-400: #33af5f;
        --color-primary-500: #118e3f;
        --color-primary-600: #0e7232;
        --color-primary-700: #0b5626;
        --color-primary-800: #083a19;
        --color-primary-900: #051e0d;

        /* Primary Color States */
        --color-primary-hover: #13a347;
        --color-primary-active: #0f7a36;
        --color-primary-disable: #8bc4a3;
        --color-primary-500: #22c55e;
        --color-gray-900: #2a3342;
        --color-gray-800: #333f51;
        --color-gray-700: #495057;
        --color-gray-500: #556987;
        --color-gray-400: #CED4DA;
        --color-gray-300: #DEE2E6;
        --color-gray-200: #D5DAE1;
        --color-gray-100: #F8F9FA;
        --color-red-800: #58151C;
        --color-green-700: #0F5132;
        --color-green-300: #75B798;
        --color-green-100: #D1E7DD;
        --color-blue-100: #E7F1FF;
        --color-teal-600: #1AA179;
        --color-text-body: #0e0f0f;
        --color-theme-primary: #0d6efd;
        --color-theme-secondary: #6C757D;
        --color-theme-light: #F8F9FA;
        --color-theme-success: #198754;
        --color-theme-danger: #DC3545;
        --color-theme-danger-hover: #ea5464;
        --color-theme-danger-active: #d72b3e;
        --color-hitBox: rgba(255, 255, 255, 0.00);
        --color-gray-white: #FFF;
        --color-gray-default: #9e9e9e
    }
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --background: #000000;*/
/*    --foreground: #ffffff;*/
/*  }*/
/*}*/

/*body {*/
/*color: var(--foreground);*/
/*background: var(--background);*/
/*font-family: Arial, Helvetica, sans-serif;*/
/*}*/



